* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #D3D3D3;
  color: black;
  padding-top: 25px;
}

h1 {
  font-size: 50px;
}

h2 {
  padding: 25px;
}

#description {
  font-size: 20px;
  padding-bottom: 25px;
}

#main {
  background: black;
  text-align: center;
  font-family: monospace;
  color: white;
}

#img-caption {
  color: white;
  padding-bottom: 15px;
  font-size: 15px;
}

#tribute-info {
  background-color: #D3D3D3;
  color: black;
  font-size: 25px;
}

ul {
  text-align: center;
  list-style: inside;
  padding: 25px;
}

li {
  margin: 20px 0;
}

#quote {
  margin: 0 auto 50px auto;
  max-width: 545px;
  font-size: 20px;
  padding: 30px;
}
#image {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding: 25px;
}

footer {
  font-size: 20px;
  padding: 10px;
}
